<a href="https://colab.research.google.com/github/zahraDehghanian97/Apriori/blob/master/Maximal_frequent_itemset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# generate dataset

100 basket , 100 item
each basket contains item which number is divisible to it.

In [15]:
import pandas as pd

dataset = []
for i in range(1,101):
  temp = []
  for j in range(1,i+1):
    if i%j == 0 : temp.append(j)
  dataset.append(temp)

# FP-growth

In [25]:
!pip install pyfpgrowth

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyfpgrowth
  Downloading pyfpgrowth-1.0.tar.gz (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.0 MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5505 sha256=2a2d9cad975006955d31fdfbb53e2005c1282865f2059d95d2a4966f4ef2a3ae
  Stored in directory: /root/.cache/pip/wheels/29/e2/a7/ccb34c35e2c6737d3f09b53784f4323b7ff556a5f02096c70d
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [48]:
import pandas as pd
import numpy as np
import pyfpgrowth
patterns = pyfpgrowth.find_frequent_patterns(dataset, 5)
freq_itemset = []
list_keys = list(patterns.keys())
for i in range(len(list_keys)):
  freq_itemset.append(list(list_keys[i]))
support = list(patterns.values())

frequent = pd.DataFrame({'itemsets' : freq_itemset,
    'support' : support})
frequent

      itemsets  support
0         [17]        5
1      [1, 17]        5
2         [18]        5
3      [9, 18]        5
4      [6, 18]        5
..         ...      ...
215     [2, 3]       16
216  [1, 2, 3]       16
217        [2]       50
218     [1, 2]       50
219        [1]      100

[220 rows x 2 columns]

# closed set

In [53]:
su = frequent.support.unique()#all unique support count
#Dictionay itemset with same support count key
fredic = {}
for i in range(len(su)):
    inset = list(frequent.loc[frequent.support ==su[i]]['itemsets'])
    fredic[su[i]] = inset
#Dictionay itemset with  support count <= key
fredic2 = {}
for i in range(len(su)):
    inset2 = list(frequent.loc[frequent.support<=su[i]]['itemsets'])
    fredic2[su[i]] = inset2
#Find Closed frequent itemset
cl = []
for index, row in frequent.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic[cls]
    for i in checkset:
        if (cli!=i):
            if(set(cli).issubset(set(i))):
                isclose = False
                break
    
    if(isclose):
        cl.append(row['itemsets'])
print(cl)

[[1, 17], [1, 2, 3, 6, 9, 18], [1, 19], [1, 2, 4, 5, 10, 20], [1, 3, 5, 15], [1, 2, 4, 8, 16], [1, 13], [1, 2, 7, 14], [1, 2, 3, 4, 6, 12], [1, 11], [1, 2, 5, 10], [1, 3, 9], [1, 2, 4, 8], [1, 7], [1, 2, 3, 6], [1, 5], [1, 2, 4], [1, 3], [1, 2], [1]]

# Maximal set

In [54]:
#Find Max frequent itemset
ml = []
for index, row in frequent.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic2[cls]
    for i in checkset:
        if (cli!=i):
            if(set(cli).issubset(set(i))):
                isclose = False
                break
    
    if(isclose):
        ml.append(row['itemsets'])
print(ml)

[[1, 17], [1, 2, 3, 6, 9, 18], [1, 19], [1, 2, 4, 5, 10, 20], [1, 3, 5, 15], [1, 2, 4, 8, 16], [1, 13], [1, 2, 7, 14], [1, 2, 3, 4, 6, 12], [1, 11]]